<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.GetMessageMapper">
    <select id="GetNews" resultType="org.example.pojo.News">
        SELECT * FROM news
    </select>

    <select id="GetItems" resultType="org.example.pojo.Item">
        SELECT * FROM shopping
    </select>

    <select id="GetRooms" resultType="org.example.pojo.Room">
        SELECT * FROM room
    </select>

    <select id="GetComments" resultType="org.example.pojo.Comment">
        SELECT *
        from comment
    </select>

    <select id="GetUserMessage" resultType="org.example.pojo.User" parameterType="java.lang.String">
        SELECT user.username, user.password, user.score, association, admin
        FROM user
        left JOIN association ON user.username = association.username
        left JOIN room ON room.admin = association.username
        WHERE user.username = #{username}
    </select>
</mapper>
